<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tags %>
  <%= render('layouts/stylesheets') %>

</head>
<body>
  <div class='container'>
    <!-- Page header -->
    <%= render('layouts/header') %>

    <!-- Main page content -->
    <%= render('layouts/main') %>

    <!-- Page footer -->
    <%= render('layouts/footer') %>
  </div>
</body>
</html>
