<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <!--[if lt IE 9]>
  <%= javascript_include_tag 'html5shiv/html5shiv.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'html5shiv/html5shiv-print.min', 'data-turbolinks-track' => true %>
  <![endif]-->

  <!-- Include blueprint.css for a total reset-->
  <%= stylesheet_link_tag 'blueprint/screen', media: 'screen', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'blueprint/print', media: 'print', 'data-turbolinks-track' => true %>
  <!-- blueprint/ie.css used only for internet explorer -->

  <!--[if lt IE 8]>
  <%= stylesheet_link_tag 'blueprint/ie', media: 'screen', 'data-turbolinks-track' => true %>
  <![endif]-->

  <!-- Custom stylesheets -->
  <%= stylesheet_link_tag 'custom', media: 'screen', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <header>
      <% # TODO define a constant for HEADER_HEIGHT and use for image and header links %>
      <%= image_tag('rubyLogo.gif', alt: 'Ruby on Rails Sample App', class: 'round', height: "50px")%>
      <nav class='round'>
        <ul>
          <li><%= link_to('Home', '#') %></li>
          <li><%= link_to('Help', '#') %></li>
          <li><%= link_to('Sign In', '#') %></li>
        </ul>
      </nav>
    </header><!-- /header -->
    <!-- Main page content -->
    <section class='round'>
      <%= yield %>
    </section>
  </div>
</body>
</html>
